@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin:0;
    padding:0;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

body{
    background: #20002c;
    background: -webkit-linear-gradient(to right, rgba(203, 180, 212, 1), rgba(32, 0, 44, 1)); 
    background: linear-gradient(to right, rgba(203, 180, 212, 1), rgba(32, 0, 44, 1));
    height: 100vh;
}

.container{
    width: 400px;
    height: 500px;
    background: #8e9eab;
    background: -webkit-linear-gradient(to left, #eef2f3, #8e9eab);
    background: linear-gradient(to left, #eef2f3, #8e9eab);
    margin: auto;
    position: absolute;
    top: 0;
    right:0;
    bottom:0; left:0;
    border-radius: 10%;
    box-shadow: 0 20px 20px -5px black;
}

.title{
    text-align: center;
}

.image__music{
    max-width: 200px;
    height: 200px;
    margin-top: 25px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.image__music img{
    width: 100%;
    height: 100%;
    box-shadow: 5px 10px 12px #20002c;
}

.title__music{
    text-align: center;
    margin-top: 10px;
}

.time__bar{
    text-align: center;
    margin-top:20px;
}

#time{
    width: 200px;
}

.volume__bar{
    text-align: center;
}

.volume__bar ion-icon{
    font-size: 20px;
}

input[type='range'] {
    overflow: hidden;
    width: 100px;
    height: 10px;
    -webkit-appearance: none;
    background-color: #ffffff;
  }

  input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance:none;
    height: 20px;

    cursor: pointer;
    background: #20002c;
    box-shadow: -110px 0 0 110px #cbb4d4;
  }

  .play__pause{
    display: inline;
}

.controls{
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    letter-spacing: 15px;
}

.controls :hover{
    color:#b91cf1;
}

@media only screen and (max-width: 500px) {

     .container{
        width: 350px;
        height: 500px;
        
    }
}



